*.orig
*.rej
*~
*.o
*.swp
*.pyc
*.DS_Store

lizmap.cfg

.idea/
.vscode/

*.egg-info

build/
dist/

.local
.cache
.pytest_cache
__output__

*.qgz
lizmap.*.zip
lizmap/i18n/lizmap_qgis_plugin_*.ts
# lizmap/i18n/lizmap_qgis_plugin_*.qm
lizmap.zip
unittest.qgs
lizmap/test/data/points_lines.gpkg-shm
lizmap/test/data/points_lines.gpkg-wal
lizmap/test/data/lizmap_3_3.qgs.cfg.back
