*.orig
*.rej
*~
*.o
*.swp
*.pyc
*.DS_Store

lizmap.cfg

# IDE
.idea/
.vscode/

*.egg-info
*.code-workspace

# Python
.venv/

build/
build2/
dist/

.local
.cache
.pytest_cache
__output__

*.qgz

# QGIS-Plugin-CI
lizmap.*.zip
lizmap/i18n/lizmap_qgis_plugin_*.ts
lizmap/i18n/lizmap_qgis_plugin_*.qm

unittest.qgs
lizmap/test/data/points_lines.gpkg-shm
lizmap/test/data/points_lines.gpkg-wal
lizmap/test/data/lizmap_3_3.qgs.cfg.back
