.github/ export-ignore
scripts/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
Makefile export-ignore
MANIFEST.in export-ignore
resources.qrc export-ignore
release.sh export-ignore
setup.py export-ignore
update_strings.sh export-ignore
plugin_upload.py export-ignore
