*.orig
*.rej
*~
*.o
*.swp
*.pyc
*.DS_Store

lizmap.cfg

# IDE
.idea/
.vscode/

*.egg-info
*.code-workspace

# Python
.venv/

build/
build2/
dist/

.local
.cache
.pytest_cache
__output__

.docker-venv-*
.localconfig.mk

*.qgz
*_attachments.zip
*_bak.qgs
*_bak.qgs.cfg

# QGIS-Plugin-CI
lizmap.*.zip
*.zip
lizmap/i18n/lizmap_qgis_plugin_*.ts
lizmap/i18n/lizmap_qgis_plugin_*.qm
lizmap/lizmap-locales.pro

unittest.qgs
tests/data/unit_test_plugin_*
tests/data/*.gpkg-shm
tests/data/*.gpkg-wal
tests/data/shortnames.qgs.cfg
tests/credentials.py
**/symbology-style.db
**/*.qgs.bak
