variables:
  PRODUCT_NAME: lizmap_qgis_plugin

stages:
- version
- build
- deploy
- release

version:
  image:
    name: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  tags: 
    - factory-plain
  stage: version
  script:
    - version-helper > build.env
    - cat build.env
  artifacts:
    reports:
      dotenv: build.env


build:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  tags:
    - factory-plain
  dependencies:
    - version
  stage: build
  script:
    - >-
      qt-transifex -vv pull
      --transifex-token ${TX_TOKEN}
      --compile
    - qgis-plugin-ci -vv package ${VERSION}
  artifacts:
    untracked: true
    expose_as: 'QGIS package'
    paths:
      - lizmap.${VERSION}.zip
      - plugins.xml

deploy:
  image: ${REGISTRY_URL}/factory-ci-runner:fabric-ci
  tags:
    - fabric
  stage: deploy
  rules:
    - if: $RELEASE_BRANCH == "true"
  dependencies:
    - version
    - build
  script:
    - upload_plugins ${PRODUCT_NAME} ${PRODUCT_NAME}.${VERSION}.zip ${STATUS}
