variables:
  PRODUCT_NAME: lizmap_qgis_plugin

stages:
- build
- deploy

build:
  image: $REGISTRY_URI/factory-ci-runner:qgis-plugin-ci
  stage: build
  tags:
    - factory-plain
  rules:
    - if: '$CI_COMMIT_TAG =~ /^(?:release-|v)?\d+\.\d+\.\d+(?:-.*)?$/'
      variables:
        VERSION_PRE: ""
        STATUS: stable
    - if: $RELEASE_BRANCH == "true"
      variables:
        PRERELEASE: "--pre"
        STATUS: unstable
  script:
    - >-
      qt-transifex -vv pull
      --transifex-token ${TX_TOKEN}
      --compile
    - echo "Building plugin ${PRODUCT_NAME} STATUS=${STATUS}"
    - yapt-pkg package $PRERELEASE
    - echo "PACKAGE=`ls -1 *.zip`" > build.env
    - echo "STATUS=$STATUS" >> build.env
    - cat build.env
  artifacts:
    reports:
      dotenv: build.env
    paths:
      - "*.zip"

deploy:
  image: ${REGISTRY_URL}/factory-ci-runner:fabric-ci
  tags:
    - fabric
  stage: deploy
  dependencies:
    - build
  script:
    - upload_plugins ${PRODUCT_NAME} ${PACKAGE} ${STATUS}
