services:
  qgis:
    user: ${UID}:${GID}
    image: ${QGIS_IMAGE_TAG}
    network_mode: host
    container_name: qgis-lizmap-tests
    environment:
<<<<<<< HEAD
        QGIS_VERSION: ${QGIS_VERSION}
    volumes:
      - ..:/src
    command: bash /src/.docker/run-tests.sh
=======
      # - DISPLAY=unix$DISPLAY
      - CI=True
      - DISPLAY=:99
    network_mode: host
>>>>>>> 60e202c (Fix Check for int4 PK fields)
